<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <h1>Deaths during the L.A. riots</h1>
        <table border=1 cellpadding=7>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Age</th>
                <th>Address</th>
                <th>Type</th>
                <th>Gender</th>
                <th>Race</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.full_name }}</td>
                <td>{{ obj.date }}</td>
                <td>{{ obj.age }}</td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.type }}</td>
                <td>{{ obj.gender|upper }}</td>
                <td>{{ obj.race }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>